*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom,rgb(185, 229, 247),rgb(245, 186, 195),white);
    margin: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .homepage h2 {
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
  }
  .homepage button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .homepage button:hover {
    background-color: #0056b3;
  }

  .formpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .formpage h1 {
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .formpage label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
  }
  
  .formpage input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .formpage input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .formpage button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .formpage button:hover {
    background-color: #0056b3;
  }